{% extends 'base.html.twig' %}

{% block body %}
<h1>Welcome</h1>
<a href="{{path('app_partner')}}">Partners</a>
{# <a href="{{path('app_register')}}">Register</a>
<a href="{{path('user_index')}}">Users</a> #}
{% endblock %}